#img {
    width: 75px;
    height: 60px;
}
body{
    font-family: "Poppins", sans-serif;

}
#logo {
    font-family: "Kanit", sans-serif;
}
#ButtoN {
    background-color: rgb(0, 15, 129);
}
.liColour {
    color: rgb(198, 35, 35);
}
#bgimg {
    width: 100%;
    height: 100%;
}
#img1 {
    width: 100%;
    height: 100%;
}
#fun {
    text-align: center;
}
#rates h3 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.rateeeee {
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(10, 1, 86);
    
}
.butttoon {
    background-color: #dd9802e6;
    color: rgb(103, 5, 5);
    padding: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#with {
    font-size: 1rem;
    color: rgb(122, 120, 0);
    font-family: sans-serif;
    ;
}
#amuuz {
    width: 30rem;
    height: 30rem;
    padding: 1rem;
    padding-right: 2rem;
}
#buttonlast {
    background-color: rgb(174, 126, 3);
    color: white;
}